.bv-form .help-block {
    margin-bottom: 0
}

.bv-form .tooltip-inner {
    text-align: left
}

.nav-tabs li.bv-tab-success>a {
    color: #3c763d
}

.nav-tabs li.bv-tab-error>a {
    color: #a94442
}


/* Counter Service */

.counter-content {
    max-width: 100%;
    padding-left: 240px;
}

.box-title-Big {
    font-size: 42px;
    line-height: 37px;
    padding: 28px 23px;
    text-align: right;
}

.box-title-Big label {
    font-weight: normal;
    color: #4d536b;
}

.box-title-Big label > a {
    font-size: 14px;
    color: #000;
    text-decoration: underline;
    margin-right: 10px;
}

.box-title-Big span {
    display: block;
    font-size: 20px;
    color: #8e8e93;
    padding-right: 51px;
}

.box-title-Big > i {
    font-size: 42px;
    color: #3598db;
    float: right;
    margin-left: 7px;
}

.box-title-Big > i.material-icons {
    transform: scaleX(-1)
}

.box-title-Big > i.demo-icon.icon-em-machine {
    transform: rotate(90deg);
    font-size: 33px;
    margin-left: 19px;
}

.em-card-layout {
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin-top: 12px;
    position: relative;
}

.em-search {
    float: right;
    text-align: center;
    width: 100%;
    background: #eee;
    border-radius: 0 0 5px 5px;
}

.em-src-container {
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    padding: 5px 0;
    position: relative;
}

.em-input {
    padding-right: 22px;
}

.em-src-container {
    display: flex;
}

.em-input > input {
    float: left;
    margin-left: 10px;
    border-radius: 25px;
    height: 49px;
    font-size: 20px;
    letter-spacing: 1.8px;
    text-align: center;
    padding: 0 11px 0 0;
}

.em-search .btn-link {
    font-family: droidkufiregular;
    font-size: 20px;
    color: #8e8e93;
    line-height: 40px;
}

.em-replica {
    position: absolute;
    max-width: 231px;
    width: 100%;
    right: auto;
    transform: translateX(-50%);
    text-align: center;
    bottom: 13px;
    left: 50%;
    margin-left: 16px;
}

.em-replica > div {
    float: left;
    text-align: center;
    font-size: 17px;
    height: 21px;
}

.em-card {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.em-card-bg {
    background: url(../images/insert-drive.png) no-repeat left top;
    display: inline-block;
    width: 99px;
    height: 74px;
    position: absolute;
    bottom: 81px;
    left: 0px;
    margin-right: 0;
}

img.card-reader {
    position: relative;
    z-index: 3;
    margin-top: -44px;
}

.card-reader-container {
    height: 236px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    float: right;
}

.em-card {
    position: absolute;
    bottom: 11px;
    left: -28px;
    z-index: 2;
    transition: all 0.3s ease-out;
}

.card-reader-container:hover .em-card {
    bottom: 68px;
    left: 63px;
}

.form-control .error {
    border-color: red;
}

label.error {
    background: red;
    color: #fff;
    border-radius: 25px;
    font-family: robotoregular;
    font-size: 12px;
    padding: 0px 8px;
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
}

.hover-text {
    position: absolute;
    right: 155px;
    bottom: 17px;
    font-size: 23px;
    color: #8e8e93;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.card-reader-container:hover .hover-text {
    opacity: 1;
}


/* Step form overwrite for  counter services */

.f1-steps {
    overflow: hidden;
    position: fixed;
    margin: 0px auto;
    display: inline-block;
    width: 274px;
    left: 0;
    top: 108px;
    height: 618px;
    padding-right: 10px;
}

.f1-progress {
    width: 4px;
    height: 100%;
    right: 35px;
    max-height: 100%;
    background: #fff;
    top: 50px;
}

.f1-progress-line {
    width: 100%;
    height: 100%;
}

.f1-step {
    width: 100%;
    margin: 0 !important;
    height: 107px;
    display: flex;
    align-items: center;
}

.f1-step p {
    margin: 9px 13px 0 0;
    color: #4d536b;
}

.f1-step-icon {
    flex-shrink: 0;
    background: #f6f6f6;
    color: #4d536b;
    line-height: 46px;
}

.f1-step.activated .f1-step-icon {
    background: #fff;
    border: 4px solid #3498DB;
    color: #3598db;
    width: 58px;
    height: 58px;
}

.f1-step.activated p {
    color: #000;
}

.customer-mini-detail {
    display: none;
    text-align: right;
    padding: 0 15px 0 0;
}

.customer-mini-detail .ar-droid {
    font-size: 16px;
    line-height: normal;
    line-height: 15px;
}

.activated .customer-mini-detail,
.active .save-step {
    display: block;
    animation-name: bounceIn;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}

.activated.replace-icon p {
    display: none;
}

.counter-ref-no {
    display: inline-block;
    font-size: 16px;
    color: #4d536b;
        margin-top: 4px;
}

.customer-mini-detail .ar {
    color: #4d536b;
}

.save-step {
    display: none;
}

.result-pic {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border: 4px solid #3598db;
}

.f1-step-icon > .result-pic {
    display: none;
}

.activated.replace-icon .f1-step-icon {
    font-size: 0;
    border: none !important;
    background: #fff !important;
}

.activated .result-pic {
    display: block;
    animation-name: bounceIn;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}

.all-services .tab-content {
    background: #fff;
}

.all-services .home-action {
    margin: 10px 0 0 0;
    width: 100%;
}

.all-services .col-sm-3 {
    float: right;
    display: flex;
}

.all-services .nav.nav-tabs.light {
    border-top: 1px solid #ddd;
}

.counter-content .f1 fieldset {
    text-align: right;
    padding: 0;
}
.perspective{
     perspective: 700px;
    transform-style: preserve-3d;
}

.user-info-small {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 26px !important;
}
.iamEdited .box-content.user-info-small {
    overflow: visible;
    display: inline-block;
}
.iamEdited .close-card{
    display: none;
}
.iamEdited .list-sm {
    width: 50%;
    float: right;
}
.list-sm i {
    font-size: 16px;
    vertical-align: middle;
    color: #3698db;
}

.list-sm i.icon-license {
    font-size: 11px;
}

.list-sm label {
    font-size: 12px;
    color: #000;
    font-weight: normal;
    margin: 0;
}

.list-sm {
    padding: 18px 21px 2px 0;
}

.card.grey {
    background: #f5f5f5;
}

.right .col-sm-4 {
    float: right;
}

.list-sm .form-data {
    font-size: 14px;
    font-family: robotomedium;
    padding: 0 21px 0 0;
    line-height: 21px;
}

.list-sm .form-data.ar {
    font-size: 20px;
    font-family: sakkal majalla
}

.add-person {
    border: 4px dashed #b8b8b8;
    color: #b8b8b8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 289px;
    flex-flow: column;
    transition: all 1s ease-out;
}
.add-person:hover{
    cursor: pointer;
    color: #4d536b;
    animation-name: borderColor;
    animation-iteration-count: infinite;
    animation-duration: .7s;
}
@keyframes borderColor{
    0%{
         border-color: #b8b8b8;
    }
    
    50%{
       border-color: #4d536b; 
    }
    
    100%{
        border-color: #b8b8b8;
    }
}
.add-person:hover label{
    color: #4d536b
}

.add-person i {
    font-size: 108px;
    text-indent: -15px;
    line-height: 89px;
}

.add-person label {
    font-size: 16px;
    color: #b8b8b8
}

.counter-user-details .col-sm-4 {
    padding: 0 5px;
    margin-top: 10px;
}

.counter-user-details .col-sm-4:first-child {
    padding-right: 10px;
}

.user-info-small .avatar56 {
    margin-top: -33px;
    position: relative;
}

.counter-user-details .box-heading.light .box-title {
    color: #000;
    font-size: 14px;
}

.width60 {
    width: 60%;
}

.service-info-form {
    padding: 20px 20px 0;
}

.form-group input {
    height: 42px;
}

.form-group input,
.form-group textarea {
    margin-top: 5px;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
}

.result-pic .sprite-icon {
    margin: 0;
    display: inline-block;
    transform: scale(.6) translate(18px, -20px);
}

.f1-step .f1-step-icon:before {
    left: auto;
    right: -3px;
    top: -4px;
    border: 1px solid #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
}

.save-step {
    display: none;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    vertical-align: middle;
    color: #b8b8b8;
    width: 75px;
    height: 33px;
    margin-top: 5px;
}

.save-step > i {
    font-size: 18px;
    vertical-align: middle;
}

.save-step:hover {
    color: #3598db;
    background: #fff;
}

.round-btn {
    background: #fff;
    border: none;
    border-radius: 40px;
    color: #3598db;
    font-family: droidkufiregular;
    font-weight: normal;
    font-size: 14px;
    height: 60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    padding: 0 15px;
    transition: all 0.3s ease-out
}
.round-btn:hover{
    box-shadow: 0 3px 17px rgba(0, 0, 0, .2);
}
.buttons-group {
    text-align: center;
    margin-top: 77px;
}

.round-btn > i {
    font-size: 18px;
    vertical-align: middle;
    margin-left: 4px;
}

.buttons-group > button + button {
    margin-right: 15px;
}

.counter-confirm {
    color: #2ecc71;
    font-size: 147px;
    height: auto;
    padding: 0;
    line-height: normal;
}

.big-title {
    font-size: 42px;
    color: #4d536b;
    line-height: 65px;
}

.final-time {
    font-size: 20px;
    color: #4d536b;
    margin-top: 37px;
}

.final-time strong {
    color: #2ecc71;
    font-size: 24px;
}

.certificate-print {
    height: 500px
}

.counter-steps .f1-buttons {
    background: none;
    text-align: center;
    width: 100%;
    margin: 0;
    border: none;
}

.counter-steps .f1-buttons button, .counter-steps .f1-buttons button:focus {
    border-radius: 30px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #3598db
}

.counter-steps .f1-buttons button + button {
    margin-right: 10px;
}
button.btn-next{
    opacity: 0;
    transition: all 0.3s ease-out;
}
.edit-mode-wrpr .btn-next{
    opacity: .4;
    cursor: not-allowed;
}
button.btn-next.reveal{
    opacity: 1 !important;
    animation-name: bounceIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    cursor: pointer !important;
}
.all-services .home-action.highlight {
    box-shadow: 0 0 0 1px #ddd inset;
    background: #eee;
    border-radius: 5px;
}
.home-action.highlight:before {
    content: "\e834";
    font-family: material icons;
    position: absolute;
    left: -7px;
    top: -1px;
    font-size: 31px;
    animation-name: bounceIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
.highlight .sprite-icon{
    transform: scale(1.4);
}
.counter-steps .f1-buttons button.btn-next:after {
    content: "\e314";
    font-family: material icons;
    vertical-align: middle;
    font-size: 22px;
    line-height: normal;
    position: relative;
    top: 1px;
    margin-left: -7px;
}

.counter-steps .f1-buttons button.btn-previous:before {
    content: "\e315";
    font-family: material icons;
    vertical-align: middle;
    font-size: 22px;
    line-height: normal;
    position: relative;
    top: 1px;
    margin-right: -7px;
}

.validation-div {
    background: #d45659;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    padding-left: 206px;
}

.validation-div:before {
    content: "\e002";
    font-family: material icons;
    color: #f75e63;
    position: absolute;
    left: 12px;
    top: 2px;
    font-size: 170px;
    line-height: normal;
}

.validation-div label {
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    width: 100%;
    border-bottom: 1px solid #f76065;
    line-height: normal;
}

.validation-div p {
    font-family: sakkal majalla;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 5px;
    color: #fff;
}

.validation-div em {
    display: inline-block;
    margin-left: 12px;
}
.box-heading .btn {
    margin: 8px 0 0 8px;
}
.hover-card {
    transition: all 0.3s ease-out;
    animation-name: risedown;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards
}

.hover-card:hover {
    box-shadow: 8px 10px 12px rgba(0, 0, 0, .2);
    animation-name: riseup;
}

@keyframes riseup {
    0% {
        transform: translateZ(0) rotateX(0deg);
    }
    50% {
        transform: translateZ(13px) rotateX(-3deg);
    }
    100% {
        transform: translateZ(23px) rotateX(0deg);
    }
}

@keyframes risedown {
    0% {
        transform: translateZ(23px) rotateX(0deg);
    }
    50% {
        transform: translateZ(13px) rotateX(-2deg);
    }
    100% {
        transform: translateZ(0) rotateX(0deg);
    }
}
.floating-container{
    max-width: 935px;
    width: 100%;
    margin: 0 auto;
}
.card.floating-container {
    margin-bottom: 20px;
}

/* Payment selection page */
.payment-options {
    text-align: center;
    min-height: 300px;
    padding-top: 46px;
    padding-bottom: 30px;
}
.payby > label {
    position: absolute;
    top: -35px;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
}
.payby {
    display: inline-block;
    position: relative;
    padding: 33px 12px;
    width: 45%;
    cursor: pointer;
}
.payby:before {
    content: "";
    width: 256px;
    height: 256px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    box-shadow: 0 0 12px rgba(0,0,0,.15);
    transition: all .5s ease-out;
}
.payby:hover:before {
    box-shadow: 8px 10px 12px rgba(0, 0, 0, .2);
}
.payby img {
    position: relative;
}
.payby.selected-mode{
    width: 100%;
    height: 314px;
    padding: 25px;
}
.payby.selected-mode.cash{
    height: 234px;
}
.payby.selected-mode:before{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.cr-machine-strip, .cr-machine{
    float: right;
}
.cr-card-details .box-title {
    font-size: 32px;
    line-height: 46px;
    display: inline-block;
    padding: 0;
    margin-bottom: 47px;
}
.cr-card-details .box-title > span {
    color: #3698db;
    font-size: 35px;
    vertical-align: middle;
}
.cr-card-details .box-title > span {
    color: #3698db;
    font-size: 35px;
    vertical-align: middle;
}
.card-img{
    transition: all .7s ease-out;
    width: 233px;
}
.payby.selected-mode .card-img {
    position: absolute;
    right : 0;
    top: -13px;
    width: 133px;
    height: auto;
    animation-name: card-swipe;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-fill-mode: forwards
}

@keyframes card-swipe{
    0%{
        opacity: 0;
        right:250px;
    }
    30%{
        opacity: 1;
    }

    100%{
        right: 0;
    }
}
.selected-mode .cr-card-animation{
    width: 45%;
    float: left;
    position: relative;
    height: 100%;
}
.cr-card-details {
    float: right;
    width: 45%;
    color: #555;
    position: relative;
    text-align: right;
}
.cr-card-details .buttons-group {
	text-align: left;
        margin-top: 20px;
}
.payment-details .sprite-icon {
    float: right;
    transform: scale(.8);
    margin: 0;
}
.payment-details .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.final-amount {
    text-align: left;
    font-size: 39px;
    font-family: robotobold;
    color: #3598db;
}
.final-amount small {
    font-size: 15px;
    font-family: droidkufiregular;
    font-weight: normal;
}
.payment-details label {
    color: #000;
    font-size: 16px;
    padding-top: 26px;
}
.input-group > span.material-icons {
    position: absolute;
    left: 9px;
    top: 15px;
    z-index: 9;
    color: #3598db;
    font-size: 23px;
}
.repeat {
    position: absolute;
    left: 0;
    bottom: 0px;
    background: #3698db;
    height: 42px;
    border-radius: 5px 0 0 5px;
    padding: 7px 9px 0;
    color: #fff;
    font-family: droidkufiregular;
    transition: all 0.3s ease-out;
     cursor: pointer;
}
.repeat:hover {
    box-shadow: 3px 0px 5px rgba(0,0,0,.3);
}

.tag2 i {
    font-size: 19px;
    color: red;
}
.tag2 {
   font-size: 17px;
    background: #ffffff;
    display: inline-block;
    padding: 5px;
    border-radius: 45px;
    box-shadow: 0px 1px 1px 1px #ddd;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.tag2:hover{
    background: #ddd;
}
.tag2 + .tag2 {
    margin-right: 10px;
}
.box-title .icon-license{
    font-size: 19px;
}
.sub-company{
    position: relative;
}
.sc-emID:before {
    content: "\e5c5";
    font-family: material icons;
    position: absolute;
    bottom: -15px;
    right: 4px;
    color: #fff;
    font-size: 37px;
}
.sc-emID {
    position: absolute;
    bottom: 100%;
    right: 0;
    background: #fff;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    list-style: none;
    opacity: 0;
    transform: scale(0);
    transform-origin: right bottom;
    transition: all 0.15s ease-out;
   white-space: nowrap;
    min-width: 100%;
}
.sc-emID li {
    display: flex;
    justify-content: space-between
}
.sc-emID li > i {
    float: left;
    margin-top: 2px;
}
.sub-company:hover .sc-emID{
    opacity: 1;
    transform: scale(1)
}
.required > label:before {
    content: "*";
    color: #d4585b;
    font-size: 17px;
    float: right;
    margin-left: 5px;
}

/* Lost Items */
.counter-service-selection {
    padding-top: 44px;
    opacity: .35;
    transition: all 0.3s ease-out
}
.counter-service-selection.selected{
    opacity: 1
}
.counter-service-selection:hover {
    opacity: .8;
}
.counter-service-selection .card {
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s ease-out;
        height: 116px;
}
.counter-service-selection .sprite-icon {
    margin: -62px 0 14px 0;
}
.counter-service-selection span {
    color: #808697;
    width: 100%;
    display: block;
    font-size: 20px;
    font-family: sakkal majalla;
    margin-top: 4px;
}
.counter-service-selection label {
    color: #000;
    font-size: 16px;
    cursor: pointer;
}
.counter-service-selection .card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
}
.pp-result {
    width: 100%;
    display: inline-block;
    font-size: 17px;
    padding: 19px 0 0 0;
    color: #000;
}
.pp-result .ar{
    font-size: 22px;
    margin-right: 10px;
}
.btn-primary-absolute{
    font-size: 16px;
    padding: 5px 10px;
    position: absolute;
    left: 15px;
    bottom: 0px;
    background: #3698db;
    height: 42px;
    border-radius: 5px 0 0 5px;
    color: #fff;
    font-family: droidkufiregular;
    transition: all 0.3s ease-out;
    cursor: pointer;
    border: 2px solid rgba(255,255,255,.2);
}
.btn-primary-absolute:hover {
    box-shadow: 2px 0px 6px rgba(0,0,0,.4);
}
.emIDformat {
    font-family: robotoregular !important;
    font-size: 16px !important;
}
/* counter search */
.counter-search{
    background: #fff;
}