body{
    counter-reset: section
}
body.activity{
    padding-left: 0
}
.bv-form .help-block {
    margin-bottom: 0
}

.bv-form .tooltip-inner {
    text-align: left
}

.nav-tabs li.bv-tab-success>a {
    color: #3c763d
}

.nav-tabs li.bv-tab-error>a {
    color: #a94442
}


/* Counter Service */

.counter-content {
    max-width: 100%;
    padding-left: 240px;
}

.box-title-Big {
    font-size: 42px;
    line-height: 37px;
    padding: 28px 23px;
    text-align: right;
}

.box-title-Big label {
    font-weight: normal;
    color: #4d536b;
}

.box-title-Big label > a {
    font-size: 14px;
    color: #000;
    text-decoration: underline;
    margin-right: 10px;
}

.box-title-Big span {
    display: block;
    font-size: 20px;
    color: #8e8e93;
    padding-right: 51px;
}

.box-title-Big > i {
    font-size: 42px;
    color: #3598db;
    float: right;
    margin-left: 7px;
}

.box-title-Big > i.material-icons {
    transform: scaleX(-1)
}

.box-title-Big > i.demo-icon.icon-em-machine {
    transform: rotate(90deg);
    font-size: 33px;
    margin-left: 19px;
}

.em-card-layout {
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin-top: 12px;
    position: relative;
}

.em-search {
    float: right;
    text-align: center;
    width: 100%;
    background: #eee;
    border-radius: 0 0 5px 5px;
}

.em-src-container {
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    padding: 5px 0;
    position: relative;
}

.em-input {
   /*  padding-right: 22px; */
       display: flex;
    flex-flow: row-reverse;
}

.em-src-container {
    display: flex;
}

.em-input > input {
    float: left;
    margin-left: 10px;
    border-radius: 25px;
    height: 49px;
    font-size: 20px;
    letter-spacing: 1.8px;
    text-align: center;
    padding: 0 11px 0 0;
}

.em-search .btn-link {
    font-family: droidkufiregular;
    font-size: 20px;
    color: #8e8e93;
    line-height: 40px;
}

.em-replica {
    position: absolute;
    max-width: 231px;
    width: 100%;
    right: auto;
    transform: translateX(-50%);
    text-align: center;
    bottom: 13px;
    left: 50%;
    margin-left: 16px;
}

.em-replica > div {
    float: left;
    text-align: center;
    font-size: 17px;
    height: 21px;
}

.em-card {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.em-card-bg {
    background: url(../images/insert-drive.png) no-repeat left top;
    display: inline-block;
    width: 99px;
    height: 74px;
    position: absolute;
    bottom: 81px;
    left: 0px;
    margin-right: 0;
}

img.card-reader {
    position: relative;
    z-index: 3;
    margin-top: -44px;
}

.card-reader-container {
    height: 236px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    float: right;
}

.em-card {
    position: absolute;
    bottom: 11px;
    left: -28px;
    z-index: 2;
    transition: all 0.3s ease-out;
}

.card-reader-container:hover .em-card {
    bottom: 68px;
    left: 63px;
}

.form-control .error {
    border-color: red;
}

label.error {
    background: red;
    color: #fff;
    border-radius: 25px;
    font-family: robotoregular;
    font-size: 12px;
    padding: 0px 8px;
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
}

.hover-text {
    position: absolute;
    right: 155px;
    bottom: 17px;
    font-size: 23px;
    color: #8e8e93;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.card-reader-container:hover .hover-text {
    opacity: 1;
}


/* Step form overwrite for  counter services */

.f1-steps {
    overflow: hidden;
    position: fixed;
    margin: 0px auto;
    display: inline-block;
    width: 274px;
    left: 0;
    top: 108px;
    height: 618px;
    padding-right: 10px;
}

.f1-progress {
    width: 4px;
    height: 100%;
    right: 35px;
    max-height: 100%;
    background: #fff;
    top: 50px;
}

.f1-progress-line {
    width: 100%;
    height: 100%;
}

.f1-step {
    width: 100%;
    margin: 0 !important;
    height: 107px;
    display: flex;
    align-items: center;
}

.f1-step p {
    margin: 9px 13px 0 0;
    color: #4d536b;
}

.f1-step-icon {
    flex-shrink: 0;
    background: #f6f6f6;
    color: #4d536b;
    line-height: 46px;
}

.f1-step.activated .f1-step-icon {
    background: #fff;
    border: 4px solid #3498DB;
    color: #3598db;
    width: 58px;
    height: 58px;
}

.f1-step.activated p {
    color: #000;
}

.customer-mini-detail {
    display: none;
    text-align: right;
    padding: 0 15px 0 0;
}

.customer-mini-detail .ar-droid {
    font-size: 16px;
    line-height: normal;
    line-height: 15px;
}

.activated .customer-mini-detail,
.active .save-step {
    display: block;
    animation-name: bounceIn;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}

.activated.replace-icon p {
    display: none;
}

.counter-ref-no {
    display: inline-block;
    font-size: 16px;
    color: #4d536b;
        margin-top: 4px;
}

.customer-mini-detail .ar {
    color: #4d536b;
}

.save-step {
    display: none;
}

.result-pic {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border: 4px solid #3598db;
}

.f1-step-icon > .result-pic {
    display: none;
}

.activated.replace-icon .f1-step-icon {
    font-size: 0;
    border: none !important;
    background: #fff !important;
}

.activated .result-pic {
    display: block;
    animation-name: bounceIn;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}

.all-services .tab-content {
    background: #fff;
}

.all-services .home-action {
    margin: 10px 0 0 0;
    width: 100%;
}

.all-services .col-sm-3 {
    float: right;
    display: flex;
    position: static;
}

.all-services .nav.nav-tabs.light {
    border-top: 1px solid #ddd;
}

.counter-content .f1 fieldset {
    text-align: right;
    padding: 0;
}
.perspective{
     perspective: 700px;
    transform-style: preserve-3d;
}

.user-info-small {
    display: flex;
    flex-flow: row wrap;
}
.iamEdited .box-content.user-info-small {
    overflow: visible;
    display: inline-block;
}
.iamEdited .close-card{
    display: none;
}
.iamEdited .list-sm {
    width: 50%;
    float: right;
}
.list-sm i {
    font-size: 16px;
    vertical-align: middle;
    color: #3698db;
}

.list-sm i.icon-license {
    font-size: 11px;
}

.list-sm label {
    font-size: 12px;
    color: #000;
    font-weight: normal;
    margin: 0;
}

.list-sm {
    padding: 6px 16px 13px 0;
}

.card.grey {
    background: #f5f5f5;
}

.right .col-sm-4 {
    float: right;
}

.list-sm .form-data {
    font-size: 14px;
    font-family: robotomedium;
    padding: 0 21px 0 0;
    line-height: 21px;
}

.list-sm .form-data.ar {
    font-size: 20px;
    font-family: sakkal majalla
}

.add-person, .add-company, .add-lostItem {
    border: 4px dashed #b8b8b8;
    color: #b8b8b8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 100%;
    flex-flow: column;
    transition: all 1s ease-out;
    padding: 20px 0;
}
.add-company i:before {
    content: "\e145";
    font-size: 64px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    margin-left: -69px;
    font-weight: bold;
    margin-top: -29px;
}
.additional-icon i:before {
        content: "\e147";
    float: right;
    margin-left: -10px;
    font-size: 23px;
    position: relative;
}
.add-person:hover, .add-company:hover, .add-lostItem:hover{
    cursor: pointer;
    color: #4d536b;
    animation-name: borderColor;
    animation-iteration-count: infinite;
    animation-duration: .7s;
}
@keyframes borderColor{
    0%{
         border-color: #b8b8b8;
    }
    
    50%{
       border-color: #4d536b; 
    }
    
    100%{
        border-color: #b8b8b8;
    }
}
.add-person:hover label, .add-company:hover label , .add-lostItem:hover label{
    color: #4d536b
}
.avatar56 .sprite-icon {
    transform: scale(.7) translate(14px, -17px);
    margin: 0;
}

.add-person i {
    font-size: 108px;
    text-indent: -15px;
    line-height: 89px;
}
.add-company i, .add-lostItem i{
    font-size: 108px;
    line-height: 89px;
    margin-bottom: 8px;
}

.add-person label, .add-company label, .add-lostItem label {
    font-size: 16px;
    color: #b8b8b8
}
.counter-user-details{
    display: flex;
}
.counter-user-details .col-sm-4 {
    padding: 0 5px;
    margin-top: 10px;
        margin-bottom: 9px;
}
.counter-user-details .col-sm-4 > .card{
    height: 100%;
}
.counter-user-details .col-sm-4:first-child {
    padding-right: 10px;
}

.user-info-small .avatar56 {
    margin-top: -33px;
    position: relative;
}
.avatar56 > i {
    color: #808697;
    font-size: 34px;
    line-height: 51px;
}
.user-info-small .avatar56 > img {
    height: 100%;
    width: auto;
}

.counter-user-details .box-heading.light .box-title {
    color: #000;
    font-size: 14px;
}

.width60 {
    width: 60%;
}

.service-info-form {
    padding: 20px 20px 0;
}

.form-group input {
    height: 42px;
}

.form-group input,
.form-group textarea {
    margin-top: 5px;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
}
.form-group .select2-container--default .select2-selection--single{
  box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
  margin-top: 5px;
  height: 42px;
  background: #fff;
 }
.result-pic .sprite-icon {
    margin: 0;
    display: inline-block;
    transform: scale(.6) translate(18px, -20px);
}
.form-group .select2-container--default .select2-selection--single .select2-selection__arrow{
	top: 8px;
}
.form-group .select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 40px;
}
.f1-step .f1-step-icon:before {
    left: auto;
    right: -3px;
    top: -4px;
    border: 1px solid #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
}

.save-step {
    display: none;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    vertical-align: middle;
    color: #b8b8b8;
    width: 75px;
    height: 33px;
    margin-top: 5px;
}

.save-step > i {
    font-size: 18px;
    vertical-align: middle;
}

.save-step:hover {
    color: #3598db;
    background: #fff;
}

.round-btn {
    background: #fff;
    border: none;
    border-radius: 40px;
    color: #3598db;
    font-family: droidkufiregular;
    font-weight: normal;
    font-size: 14px;
    height: 60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    padding: 0 15px;
    transition: all 0.3s ease-out
}
.round-btn:hover{
    box-shadow: 0 3px 17px rgba(0, 0, 0, .2);
}
.buttons-group {
    text-align: center;
    margin-top: 77px;
}

.round-btn > i {
    font-size: 18px;
    vertical-align: middle;
    margin-left: 4px;
}

.buttons-group > button + button {
    margin-right: 15px;
}

.counter-confirm {
    color: #2ecc71;
    font-size: 147px;
    height: auto;
    padding: 0;
    line-height: normal;
}

.big-title {
    font-size: 42px;
    color: #4d536b;
    line-height: 65px;
}

.final-time {
    font-size: 20px;
    color: #4d536b;
    margin-top: 37px;
}

.final-time strong {
    color: #2ecc71;
    font-size: 24px;
}

.certificate-print {
    height: 500px
}

.counter-steps .f1-buttons {
    background: none;
    text-align: center;
    width: 100%;
    margin: 0;
    border: none;
}

.counter-steps .f1-buttons button, .counter-steps .f1-buttons button:focus {
    border-radius: 30px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #3598db
}

.counter-steps .f1-buttons button + button {
    margin-right: 10px;
}
button.btn-next{
    opacity: 1;
    transition: all 0.3s ease-out;
}
/* .edit-mode-wrpr .btn-next{
    opacity: .4;
    cursor: not-allowed;
} */
button.btn-next.reveal{
    opacity: 1 !important;
    animation-name: bounceIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    cursor: pointer !important;
}
.all-services .home-action.highlight {
    box-shadow: 0 0 0 1px #ddd inset;
    
    border-radius: 5px;
    position: absolute;
    z-index: 9;
    margin: 0;
    justify-content: center;
    animation-name: home-icon;
    left: 0;
    top: 0;

    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    background: rgba(0,0,0,.85);
    height: 100%;
    transition: all 0.5s ease-out;
    width: 100%;
    transform: scale(0);
}

@keyframes home-icon{
    100%{
       transform: scale(1);
    }
}

.service-confirm {
    position: absolute;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}
.service-confirm-msg {
    font-family: droidkufiregular;
    color: #989898;
    font-size: 18px;
}
.clear-highlight {
    
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 20px;
    animation-name: bounceIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    background: #000;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
}
.clear-highlight:hover{
    cursor: pointer;
    background: #333
}
.highlight .sprite-icon{
    transform: scale(1.6);
}
.home-action.highlight  label{
    margin: 0;
    color: #ffffff;
    font-size: 16px;
}
.counter-steps .f1-buttons button.btn-next:after {
    content: "\e314";
    font-family: material icons;
    vertical-align: middle;
    font-size: 22px;
    line-height: normal;
    position: relative;
    top: 1px;
    margin-left: -7px;
}

.counter-steps .f1-buttons button.btn-previous:before {
    content: "\e315";
    font-family: material icons;
    vertical-align: middle;
    font-size: 22px;
    line-height: normal;
    position: relative;
    top: 1px;
    margin-right: -7px;
}

.validation-div {
    background: #d45659;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    padding-left: 206px;
}

.validation-div:before {
    content: "\e002";
    font-family: material icons;
    color: #f75e63;
    position: absolute;
    left: 12px;
    top: 2px;
    font-size: 170px;
    line-height: normal;
}

.validation-div label {
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    width: 100%;
    border-bottom: 1px solid #f76065;
    line-height: normal;
}

.validation-div p {
    font-family: sakkal majalla;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 5px;
    color: #fff;
}

.validation-div em {
    display: inline-block;
    margin-left: 12px;
}
.box-heading .btn {
        margin: 9px 0 0 9px;
    float: left;
}
.hover-card {
    transition: all 0.3s ease-out;
    animation-name: risedown;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards
}

.hover-card:hover {
    box-shadow: 8px 10px 12px rgba(0, 0, 0, .2);
    animation-name: riseup;
}

@keyframes riseup {
    0% {
        transform: translateZ(0) rotateX(0deg);
    }
    50% {
        transform: translateZ(13px) rotateX(-3deg);
    }
    100% {
        transform: translateZ(23px) rotateX(0deg);
    }
}

@keyframes risedown {
    0% {
        transform: translateZ(23px) rotateX(0deg);
    }
    50% {
        transform: translateZ(13px) rotateX(-2deg);
    }
    100% {
        transform: translateZ(0) rotateX(0deg);
    }
}
.floating-container{
    max-width: 935px;
    width: 100%;
    margin: 0 auto;
}
.card.floating-container {
    margin-bottom: 20px;
}

/* Payment selection page */
.payment-options {
    text-align: center;
    min-height: 300px;
    padding-top: 46px;
    padding-bottom: 30px;
}
.payby > label {
    position: absolute;
    top: -35px;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
}
.payby {
    display: inline-block;
    position: relative;
    padding: 33px 12px;
    width: 45%;
    cursor: pointer;
}
.payby:before {
    content: "";
    width: 256px;
    height: 256px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    box-shadow: 0 0 12px rgba(0,0,0,.15);
    transition: all .5s ease-out;
}
.payby:hover:before {
    box-shadow: 8px 10px 12px rgba(0, 0, 0, .2);
}
.payby img {
    position: relative;
}
.payby.selected-mode{
    width: 100%;
    height: 314px;
    padding: 25px;
}
.payby.selected-mode.cash{
    height: 234px;
}
.payby.selected-mode:before{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.cr-machine-strip, .cr-machine{
    float: right;
}
.cr-card-details .box-title {
    font-size: 32px;
    line-height: 46px;
    display: inline-block;
    padding: 0;
    margin-bottom: 47px;
}
.cr-card-details .box-title > span {
    color: #3698db;
    font-size: 35px;
    vertical-align: middle;
}
.cr-card-details .box-title > span {
    color: #3698db;
    font-size: 35px;
    vertical-align: middle;
}
.card-img{
    transition: all .7s ease-out;
    width: 233px;
}
.payby.selected-mode .card-img {
    position: absolute;
    right : 0;
    top: -13px;
    width: 133px;
    height: auto;
    animation-name: card-swipe;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-fill-mode: forwards
}

@keyframes card-swipe{
    0%{
        opacity: 0;
        right:250px;
    }
    30%{
        opacity: 1;
    }

    100%{
        right: 0;
    }
}
.selected-mode .cr-card-animation{
    width: 45%;
    float: left;
    position: relative;
    height: 100%;
}
.cr-card-details {
    float: right;
    width: 45%;
    color: #555;
    position: relative;
    text-align: right;
}
.cr-card-details .buttons-group {
	text-align: left;
        margin-top: 20px;
}
.payment-details .sprite-icon {
    float: right;
    transform: scale(.8);
    margin: 0;
}
.payment-details .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.final-amount {
    text-align: left;
    font-size: 39px;
    font-family: robotobold;
    color: #3598db;
}
.final-amount small {
    font-size: 15px;
    font-family: droidkufiregular;
    font-weight: normal;
}
.payment-details label {
    color: #000;
    font-size: 16px;
    padding-top: 26px;
}
.input-group > span.material-icons {
    position: absolute;
    left: 9px;
    top: 15px;
    z-index: 9;
    color: #3598db;
    font-size: 23px;
}
.repeat {
    position: absolute;
    left: 0;
    bottom: 0px;
    background: #3698db;
    height: 42px;
    border-radius: 5px 0 0 5px;
    padding: 7px 9px 0;
    color: #fff;
    font-family: droidkufiregular;
    transition: all 0.3s ease-out;
     cursor: pointer;
     line-height: 28px;
}
.repeat:hover {
    box-shadow: 3px 0px 5px rgba(0,0,0,.3);
}
.repeat > i{
	float: left;
    margin-Right: 6px;
}
.addSubcompany > i{
	font-size: 27px;
    margin-left: -7px;
}
.box-heading .addSubcompany{
    margin: 9px 0 0 8px;
}
.tag2 i {
    font-size: 19px;
    color: red;
}
.tag2 {
   font-size: 17px;
    background: #ffffff;
    display: inline-block;
    padding: 5px;
    border-radius: 45px;
    box-shadow: 0px 1px 1px 1px #ddd;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.tag2:hover{
    background: #ddd;
}
.tag2 + .tag2 {
    margin-right: 10px;
}
.box-title .icon-license{
    font-size: 19px;
}
.sub-company{
    position: relative;
}
.sc-emID:before {
    content: "\e5c5";
    font-family: material icons;
    position: absolute;
    bottom: -15px;
    right: 4px;
    color: #fff;
    font-size: 37px;
}
.sc-emID {
    position: absolute;
    bottom: 100%;
    right: 0;
    background: #fff;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    list-style: none;
    opacity: 0;
    transform: scale(0);
    transform-origin: right bottom;
    transition: all 0.15s ease-out;
   white-space: nowrap;
    min-width: 100%;
}
.sc-emID li {
    display: flex;
    justify-content: space-between
}
.sc-emID li > i {
    float: left;
    margin-top: 2px;
}
.sub-company:hover .sc-emID{
    opacity: 1;
    transform: scale(1)
}
.required > label:before {
    content: "*";
    color: #d4585b;
    font-size: 17px;
    float: right;
    margin-left: 5px;
}

/* Lost Items */
.counter-service-selection {
    padding-top: 44px;
    opacity: .35;
    transition: all 0.3s ease-out
}
.counter-service-selection.selected{
    opacity: 1
}
.counter-service-selection:hover {
    opacity: .8;
}
.counter-service-selection .card {
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s ease-out;
        height: 116px;
}
.counter-service-selection .sprite-icon {
    margin: -62px 0 14px 0;
}
.counter-service-selection span {
    color: #808697;
    width: 100%;
    display: block;
    font-size: 20px;
    font-family: sakkal majalla;
    margin-top: 4px;
}
.counter-service-selection label {
    color: #000;
    font-size: 16px;
    cursor: pointer;
}
.counter-service-selection .card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
}
.pp-result {
    width: 100%;
    display: inline-block;
    font-size: 17px;
    padding: 19px 0 0 0;
    color: #000;
}
.pp-result .ar{
    font-size: 22px;
    margin-right: 10px;
}
.btn-primary-absolute{
    font-size: 16px;
    padding: 5px 10px;
    position: absolute;
    left: 15px;
    bottom: 0px;
    background: #3698db;
    height: 42px;
    border-radius: 5px 0 0 5px;
    color: #fff;
    font-family: droidkufiregular;
    transition: all 0.3s ease-out;
    cursor: pointer;
    border: 2px solid rgba(255,255,255,.2);
}
.btn-primary-absolute:hover {
    box-shadow: 2px 0px 6px rgba(0,0,0,.4);
}
.emIDformat {
    font-family: robotoregular !important;
    font-size: 16px !important;
}

/* person search */
.fadeInBox{
	position: absolute;
    width: 90%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    top: 142px;
    opacity: 0;
    transition: all 0.3s ease-out;
    max-width: 1000px;
    margin-left: 89px;
    padding: 0;
   /*  box-shadow: 0 0 0px 500px rgba(0,0,0,.85);
    border-radius: 5px; */
}
.fadeInBox.showSearch{
	opacity: 1;
	z-index:999999;
}
.fadeInBox > .card{
	height: 100%;
}
.editMode .fadeInBox {
    top: 0px;
    max-width: 100%;
    margin: 0;
    width: 100%;
    overflow: auto;
    height: 100%;
}
.form-group input[type="radio"] {
    width: 16px;
    box-shadow: none;
    height: 16px;
    vertical-align: middle;
    margin: 0 0 0 5px;
}

/* person search new */
.person-details, .counter-search{
    animation-name: zoomOut-popup;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    position: absolute;
    top: 0;
    animation-fill-mode: forwards;
    background: #fff;
    border-radius: 5px;
}
.person-details.enter, .counter-search.enter{
    animation-name: zoomIn-popup;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    position: relative;
}
.counter-search-wrpr {
       position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    max-width: 935px;
    max-height: 473px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    z-index: 999999;
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}
.counter-search-wrpr 
.person-details .box-content, .counter-search .box-content {
	max-height: 490px;
    overflow-y: auto;
    overflow-x: hidden;
}
/*
.counter-search-wrpr:before{
    background: #fff;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s linear;
    border-radius: 5px;
        
}*/

.person-details .userProfile-avatar {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 17px;
    box-shadow: 0 0 11px rgba(0,0,0,.2);
    border: 4px solid rgba(255,255,255,.2);
}
.person-details-tabs .nav-tabs {
        background: #eee;
    border-radius: 0;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 53px;
    left: 0;
    z-index: 1;
    
}
.person-details-tabs  .tab-content{
    background: #fff;
}
.person-details-tabs .nav-tabs>li{
    width: 700px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: 0;
}
.person-details-tabs .nav-tabs>li.active {
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    background: #fff;
}
.person-details-tabs .nav.nav-tabs>li>a{
    color: #a9a9a9
}
.person-details-tabs .nav-tabs>li.active>a, .person-details-tabs .nav>li>a:hover{
    color: #3498db !important
}
.person-details-tabs .tab-content > .tab-pane{
        padding: 20px 20px 0 20px;
}
.person-details-tabs .nav.nav-tabs>li>a:before{
    background: #fff
}
.person-details-tabs .nav-tabs>li i {
    margin-left: 6px;
}
div#addMoreperson {
    position: absolute;
    z-index: 999999;
    top: 117px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 120px;
}
/* Lost item */
.mini-person-card {
/*    background: #f6f6f6;*/
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 7px 8px 7px 30px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.mini-person-card .avatar56 .sprite-icon, .selectdropdown .avatar56 .sprite-icon{
    transform: scale(.6) translate(25px, -24px);
}
.select-person {
       width: 80%;
    float: left;
    text-align: left;
    position: relative;
    margin-right: 20px;
}
.select-person  .avatar56{
   margin: 0 0 0 15px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #eee;
    border-color: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.2);
        height: 45px;
    width: 45px;
}
.selectdropdown li {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 7px;
}
.selectdropdown li + li{
    border-top: 1px solid #ddd;
}
.form-inline .form-flex {
	display: flex;
    align-items: center;
}
.select-icon {
    position: absolute;
    left: 7px;
    top: 50%;
    font-size: 32px;
    line-height: normal;
    color: #808697;
    transform: translateY(-50%);
}
.form-flex label {
	width: 17%;
}
.select-person .selectdropdown{
    box-shadow: 0 0px 30px rgba(0, 0, 0, .2);
}
/* found items */
.clear-field {
    position: absolute;
    left: 21px;
    bottom: 12px;
    font-size: 19px;
    color: #9c9c9c;
    cursor: pointer;
}
.clear-field:hover{
    color: #333;
}
.item-details{
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 0 20px 0;
    padding: 20px 0 0 0;
    align-items: center;
    width: 100%;
}
.selected-main-item {
    padding: 10px 34px;
    background: #dff2ff;
    border-bottom: 1px solid #c2e4fb;
}
.added-found-items{
    display: flex;
    width: 100%;
   
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #ddd;
        flex-flow: row wrap;
}
.total-sub-items {
    padding: 5px 10px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #ddd;
     background: #f5f5f5;
    cursor: pointer;
}
.total-sub-items i {
    float: left;
    width: 20px;
    font-size: 19px;
    color: #555;
}
.sub-items-list li {
    display: flex;
    width: 100%;
    padding-right: 18px;
    position: relative;
}
.sub-items-list li + li{
    border-top: 1px solid #ddd;
}
.sub-items-list li:before{
    counter-increment: section;
    content: counter(section) " ";
    position: absolute;
    margin-right: -12px;
    margin-top: 10px;
    background: #565656;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.sub-items-list .action-icons {
    width: 72px;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,f9f9f9+82,000000+100&1+0,1+82,0+100 */
background: -moz-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 82%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(249,249,249,1) 0%,rgba(249,249,249,1) 82%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(249,249,249,1) 0%,rgba(249,249,249,1) 82%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    opacity: 0;
    transition: all 0.3s ease-in-out;
    justify-content: center;
}
.sub-items-list li:hover .action-icons{
    opacity: 1
}
.sub-items-list .action-iconsi{
    font-size: 16px;
}
.action-btns {
    text-align: left;
    width: 100%;
    padding-top: 7px;
}
.selected-main-item label {
    color: #2878af;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
}
.selected-main-item .form-data.ar {
    font-size: 22px;
}
.action-icons i {
    color: #3598db;
    font-size: 22px;
    cursor: pointer;
}
.action-icons i + i{
    margin-right: 10px
}
.action-icons i:hover{
    color: #333;
}
/* person search tabs */
.form-striped .form-inline:nth-child(2n+2) {
    background: #f5f5f5;
    padding-top: 6px;
    margin-bottom: 9px;
}
td.has-sub-items:before{
    content: "\E147";
    float: right;
    font-size: 21px !important;
    color: #089698 !important;
}
.child-active td.has-sub-items:before{
    content: "\E909"
}
.main-list {
    box-shadow: 0 4px 5px rgba(0,0,0,.13);
    z-index: 2;
}
.sub-list{
    transform: scaleY(0);
    transition: all 0.3s ease-out;
    transform-origin: center top;
    min-height: 0 !important;
    height: 0 !important;
    border: none !important;
    
}
.sub-list.show-child{
	transform: scale(1);
    min-height: 50px !important;
    height: 0 !important;
     border-bottom: 1px solid #ddd !important;
}
.table tbody tr.sub-list {
    padding: 0 50px;
    background: #eee !important;
}
.sub-list > td:first-child:before {
    content: "\e31b";
    color: #099698;
    font-size: 20px;
    margin-right: 7px;
    position: absolute;
    top: 17px;
    right: 44px;
}
.sub-list > td:first-child:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 60%;
    background: #099698;
    right: 54px;
    top: 0;
}
/* Fine Payment */
.fine-tabs .animated{
	-webkit-animation-duration: .3s;
    animation-duration: .3s;
}
.car-plate-number{
    background: url(../images/car-img.png) no-repeat center top;
    max-width: 864px;
    height: 433px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
}
.car-plate-number label, .traffic-code label{
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 16px;
}
.plate-design {
    border: 2px solid #bdbdbd;
    border-radius: 8px;
    width: 273px;
    margin: 0px auto auto;
    display: flex;
    padding: 5px;
    height: 65px;
    background: #fff;
    flex-flow: row-reverse;
    align-items: center;
    align-content: center;
    box-shadow: 0 3px 0 1px rgba(0,0,0,.1);
}
.car-series {
    width: 80px;
}
.car-number {
    font-family: robotobold;
   
    width: 90px;
}
.car-number input{
     font-size: 26px;
    height: 50px;
    padding: 5px;
}
.car-emirates {
    width: 90px;
    text-align: center;
}
.car-series .select2-selection__rendered {
    font-size: 25px;
    font-family: robotobold;
    padding-top: 8px;
    text-align: center;
}
.car-series .select2-selection{
    height: 50px;
}
.car-series .select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 9px ;
}
.car-emirates img {
    width: 48px;
}
.fine-tabs .nav.nav-tabs {
    background: #eeeeee;
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    padding: 12px 0;
    height: auto;
}
.fine-tabs .nav-tabs > li {
        width: auto;
    margin: 0 20px;
    border: 2px solid #ddd;
    border-radius: 7px;
}
.fine-tabs .nav-tabs > li > a{
    color: #555;
    border-radius: 7px;
    background: #fff;
    padding: 6px 20px;
    transition: all 0.3s ease-out;
    font-size: 14px;
    margin: 0 !important;
}
.fine-tabs .nav-tabs > li.active > a{
    background: #3498db;
}
.fine-tabs .nav-tabs > li.active:hover > a{
    color: #fff !important;
}
.fine-tabs .nav-tabs > li:hover > a{
    color: #3498db !important;
}
.fine-tabs .nav.nav-tabs>li>a:before {
	content: none;
}
.plate-type{
max-width: 274px;
    margin-bottom: 22px;
    margin-top: 125px;
    }
.traffic-code, .license-bg{
    background: url(../images/skyline.png) no-repeat center bottom;
    width: 100%;
    min-height: 274px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column;
        padding-bottom: 20px;
}
.traffic-code .form-group {
    max-width: 400px;
}
.traffic-code .form-group input{
    height: 55px;
    border: 2px solid #cccccc;
    font-family: robotobold;
    font-size: 27px;
}
.car-plate-number .btn {
    margin: auto auto 83px;
    width: 130px;
    font-size: 16px;
}
.car-plate-number .btn > i {
    font-size: 21px;
    font-weight: bold;
}

.license {
	background: url(../images/license.png) no-repeat center center;
    width: 100%;
    max-width: 477px;
    height: 266px;
    background-color: #fff;
    border-radius: 12px;
    margin: 20px 0;
}
.license-no {
    width: 301px;
    margin: 121px 25px 0 0;
}
.license-no .form-group {
    display: flex;
    align-items: center;
}
.license-no label {
    color: #000;
    width: 140px;
}
.license-no input {
    font-family: robotobold;
    font-size: 16px;
}
.fine-ticket{
    background: url(../images/fine-ticket.png) no-repeat center bottom;
    width: 100%;
    height: 304px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    align-items: center;
}
.ft-form {
	width: 300px;
    margin: 0 auto;
    text-align: center;
}
.ft-form label{
    color: #000;
}