 @-webkit-keyframes dashoffset {
  0% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: -20px;
  }
}
@-moz-keyframes dashoffset {
  0% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: -20px;
  }
}
@-ms-keyframes dashoffset {
  0% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: -20px;
  }
}
@keyframes dashoffset {
  0% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: -20px;
  }
}
@-webkit-keyframes pulse {
  0% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: -1000px;
  }
}
@-moz-keyframes pulse {
  0% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: -1000px;
  }
}
@-ms-keyframes pulse {
  0% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: -1000px;
  }
}
@keyframes pulse {
  0% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: -1000px;
  }
}
@-webkit-keyframes bouncing-stroke {
  0% {
    stroke-width: 10px;
  }
  50% {
    stroke-width: 15px;
  }
  100% {
    stroke-width: 10px;
  }
}
@-moz-keyframes bouncing-stroke {
  0% {
    stroke-width: 10px;
  }
  50% {
    stroke-width: 15px;
  }
  100% {
    stroke-width: 10px;
  }
}
@-ms-keyframes bouncing-stroke {
  0% {
    stroke-width: 10px;
  }
  50% {
    stroke-width: 15px;
  }
  100% {
    stroke-width: 10px;
  }
}
@keyframes bouncing-stroke {
  0% {
    stroke-width: 10px;
  }
  50% {
    stroke-width: 15px;
  }
  100% {
    stroke-width: 10px;
  }
}
@-webkit-keyframes exploding-stroke {
  0% {
    stroke-width: 10px;
    opacity: 1;
  }
  100% {
    stroke-width: 40px;
    opacity: 0;
  }
}
@-moz-keyframes exploding-stroke {
  0% {
    stroke-width: 10px;
    opacity: 1;
  }
  100% {
    stroke-width: 40px;
    opacity: 0;
  }
}
@-ms-keyframes exploding-stroke {
  0% {
    stroke-width: 10px;
    opacity: 1;
  }
  100% {
    stroke-width: 40px;
    opacity: 0;
  }
}
@keyframes exploding-stroke {
  0% {
    stroke-width: 10px;
    opacity: 1;
  }
  100% {
    stroke-width: 40px;
    opacity: 0;
  }
}
@-webkit-keyframes teeter {
  0% {
    -moz-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
  }
  25% {
    -moz-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
  }
  50% {
    -moz-transform: perspective(500px) rotateX(3deg) rotateY(4deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(3deg) rotateY(4deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(3deg) rotateY(4deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(3deg) rotateY(4deg) rotateZ(0deg);
  }
  75% {
    -moz-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
  }
}
@-moz-keyframes teeter {
  0% {
    -moz-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
  }
  25% {
    -moz-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
  }
  50% {
    -moz-transform: perspective(500px) rotateX(3deg) rotateY(4deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(3deg) rotateY(4deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(3deg) rotateY(4deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(3deg) rotateY(4deg) rotateZ(0deg);
  }
  75% {
    -moz-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
  }
}
@-ms-keyframes teeter {
  0% {
    -moz-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
  }
  25% {
    -moz-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
  }
  50% {
    -moz-transform: perspective(500px) rotateX(3deg) rotateY(4deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(3deg) rotateY(4deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(3deg) rotateY(4deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(3deg) rotateY(4deg) rotateZ(0deg);
  }
  75% {
    -moz-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
  }
}
@keyframes teeter {
  0% {
    -moz-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
  }
  25% {
    -moz-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
  }
  50% {
    -moz-transform: perspective(500px) rotateX(3deg) rotateY(4deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(3deg) rotateY(4deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(3deg) rotateY(4deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(3deg) rotateY(4deg) rotateZ(0deg);
  }
  75% {
    -moz-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(1deg) rotateY(2deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    -webkit-transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(-1deg) rotateY(-4deg) rotateZ(0deg);
  }
}

.ct-chart .ct-series.ct-series-a .ct-line {
  stroke-dasharray: 5px;
  -webkit-animation: dashoffset 1s linear infinite;
  /* Safari 4+ */
  -moz-animation: dashoffset 1s linear infinite;
  /* Fx 5+ */
  -o-animation: dashoffset 1s linear infinite;
  /* Opera 12+ */
  animation: dashoffset 1s linear infinite;
  /* IE 10+ */
}
.ct-chart .ct-series.ct-series-a .ct-point {
  -webkit-animation: bouncing-stroke 0.6s linear infinite;
  /* Safari 4+ */
  -moz-animation: bouncing-stroke 0.6s linear infinite;
  /* Fx 5+ */
  -o-animation: bouncing-stroke 0.6s linear infinite;
  /* Opera 12+ */
  animation: bouncing-stroke 0.6s linear infinite;
  /* IE 10+ */
}
.ct-chart .ct-series.ct-series-b .ct-line {
  stroke-width: 2px;
  stroke-dasharray: 15px 5px;
  -webkit-animation: dashoffset 2s linear infinite;
  /* Safari 4+ */
  -moz-animation: dashoffset 2s linear infinite;
  /* Fx 5+ */
  -o-animation: dashoffset 2s linear infinite;
  /* Opera 12+ */
  animation: dashoffset 2s linear infinite;
  /* IE 10+ */
}
.ct-chart .ct-series.ct-series-b .ct-point {
  -webkit-animation: exploding-stroke 1.8s linear infinite;
  /* Safari 4+ */
  -moz-animation: exploding-stroke 1.8s linear infinite;
  /* Fx 5+ */
  -o-animation: exploding-stroke 1.8s linear infinite;
  /* Opera 12+ */
  animation: exploding-stroke 1.8s linear infinite;
  /* IE 10+ */
}
.ct-chart .ct-series.ct-series-c .ct-line {
  stroke-width: 2px;
  stroke-dasharray: 20px 180px;
  -webkit-animation: pulse 2s linear infinite;
  /* Safari 4+ */
  -moz-animation: pulse 2s linear infinite;
  /* Fx 5+ */
  -o-animation: pulse 2s linear infinite;
  /* Opera 12+ */
  animation: pulse 2s linear infinite;
  /* IE 10+ */
}
.ct-chart .ct-grid {
  stroke: rgba(0, 0, 0, 0.1);
}
.ct-golden-section .ct-label, .peak-time .ct-label{
	    font-family: myriad apple, myriad pro, arial;
    font-size: 12px;
    color: #000;
    fill: #000;
}
.ct-label {
      fill: #fff;
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    line-height: 1;
    font-family: roboto;
    font-weight: 500;
   }
   .ct-series{
   transition:all 0.3s linear;
   transform-origin: center center	
   }
#pie-chart .ct-series:hover{
	transform:scale(1.01);
	opacity:.6
}
.ct-chart-line .ct-label,
.ct-chart-bar .ct-label {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
.ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: left;
  text-anchor: end; }

.ct-label.ct-vertical.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end; }

.ct-label.ct-vertical.ct-end {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-chart-bar .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start; }

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start;
      direction: ltr;
   }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-end {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: end; }

.ct-grid {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 2px; }

.ct-point {
  stroke-width: 10px;
  stroke-linecap: round; }

.ct-line {
  fill: none;
  stroke-width: 2px; }

.ct-area {
  stroke: none;
  fill-opacity: 0.1; }

.ct-bar {
  fill: none;
  stroke-width: 10px; }

.ct-slice-donut {
  fill: none;
  stroke-width: 60px; }

.ct-series-a .ct-slice-donut {
  stroke: #5B69BC; }
.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar{stroke: #2ECC71; }

.ct-series-a .ct-slice-pie, .ct-series-a .ct-area {
      fill: #2ecc71; }

.ct-series-b .ct-slice-donut {
  stroke: #F9C851; }
.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar{ stroke: #F39C12 ;}
.ct-series-b .ct-slice-pie, .ct-series-b .ct-area {
  fill: #fda738; }

.ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {
  stroke: #F06292; }

.ct-series-c .ct-slice-pie, .ct-series-c .ct-area {
  fill: #ea4e1b; }

.ct-series-d .ct-point, .ct-series-d .ct-line, .ct-series-d .ct-bar, .ct-series-d .ct-slice-donut {
  stroke: #d17905; }

.ct-series-d .ct-slice-pie, .ct-series-d .ct-area {
  fill: #d17905; }

.ct-series-e .ct-point, .ct-series-e .ct-line, .ct-series-e .ct-bar, .ct-series-e .ct-slice-donut {
  stroke: #453d3f; }

.ct-series-e .ct-slice-pie, .ct-series-e .ct-area {
  fill: #453d3f; }

.ct-series-f .ct-point, .ct-series-f .ct-line, .ct-series-f .ct-bar, .ct-series-f .ct-slice-donut {
  stroke: #59922b; }

.ct-series-f .ct-slice-pie, .ct-series-f .ct-area {
  fill: #59922b; }

.ct-series-g .ct-point, .ct-series-g .ct-line, .ct-series-g .ct-bar, .ct-series-g .ct-slice-donut {
  stroke: #0544d3; }

.ct-series-g .ct-slice-pie, .ct-series-g .ct-area {
  fill: #0544d3; }

.ct-series-h .ct-point, .ct-series-h .ct-line, .ct-series-h .ct-bar, .ct-series-h .ct-slice-donut {
  stroke: #6b0392; }

.ct-series-h .ct-slice-pie, .ct-series-h .ct-area {
  fill: #6b0392; }

.ct-series-i .ct-point, .ct-series-i .ct-line, .ct-series-i .ct-bar, .ct-series-i .ct-slice-donut {
  stroke: #f05b4f; }

.ct-series-i .ct-slice-pie, .ct-series-i .ct-area {
  fill: #f05b4f; }

.ct-series-j .ct-point, .ct-series-j .ct-line, .ct-series-j .ct-bar, .ct-series-j .ct-slice-donut {
  stroke: #dda458; }

.ct-series-j .ct-slice-pie, .ct-series-j .ct-area {
  fill: #dda458; }

.ct-series-k .ct-point, .ct-series-k .ct-line, .ct-series-k .ct-bar, .ct-series-k .ct-slice-donut {
  stroke: #eacf7d; }

.ct-series-k .ct-slice-pie, .ct-series-k .ct-area {
  fill: #eacf7d; }

.ct-series-l .ct-point, .ct-series-l .ct-line, .ct-series-l .ct-bar, .ct-series-l .ct-slice-donut {
  stroke: #86797d; }

.ct-series-l .ct-slice-pie, .ct-series-l .ct-area {
  fill: #86797d; }

.ct-series-m .ct-point, .ct-series-m .ct-line, .ct-series-m .ct-bar, .ct-series-m .ct-slice-donut {
  stroke: #b2c326; }

.ct-series-m .ct-slice-pie, .ct-series-m .ct-area {
  fill: #b2c326; }

.ct-series-n .ct-point, .ct-series-n .ct-line, .ct-series-n .ct-bar, .ct-series-n .ct-slice-donut {
  stroke: #6188e2; }

.ct-series-n .ct-slice-pie, .ct-series-n .ct-area {
  fill: #6188e2; }

.ct-series-o .ct-point, .ct-series-o .ct-line, .ct-series-o .ct-bar, .ct-series-o .ct-slice-donut {
  stroke: #a748ca; }

.ct-series-o .ct-slice-pie, .ct-series-o .ct-area {
  fill: #a748ca; }

.ct-square {
  display: block;
  position: relative;
  width: 100%; }
  .ct-square:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 100%; }
  .ct-square:after {
    content: "";
    display: table;
    clear: both; }
  .ct-square > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-second {
  display: block;
  position: relative;
  width: 100%; }
  .ct-minor-second:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 93.75%; }
  .ct-minor-second:after {
    content: "";
    display: table;
    clear: both; }
  .ct-minor-second > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-second {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-second:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 88.8888888889%; }
  .ct-major-second:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-second > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-third {
  display: block;
  position: relative;
  width: 100%; }
  .ct-minor-third:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 83.3333333333%; }
  .ct-minor-third:after {
    content: "";
    display: table;
    clear: both; }
  .ct-minor-third > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-third {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-third:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 80%; }
  .ct-major-third:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-third > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-perfect-fourth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-perfect-fourth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 75%; }
  .ct-perfect-fourth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-perfect-fourth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-perfect-fifth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-perfect-fifth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 66.6666666667%; }
  .ct-perfect-fifth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-perfect-fifth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-sixth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-minor-sixth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 62.5%; }
  .ct-minor-sixth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-minor-sixth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-golden-section {
  display: block;
  position: relative;
  width: 100%; 
  padding:25px;
  }
/*  .ct-golden-section:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 61.804697157%; }
  .ct-golden-section:after {
    content: "";
    display: table;
    clear: both; }*/
  .ct-golden-section > svg {
    display: block;
    position: relative;
    top: 0;
    left: 0;
	overflow:visible;
	 }

.ct-major-sixth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-sixth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 60%; }
  .ct-major-sixth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-sixth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-seventh {
  display: block;
  position: relative;
  width: 100%; }
  .ct-minor-seventh:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 56.25%; }
  .ct-minor-seventh:after {
    content: "";
    display: table;
    clear: both; }
  .ct-minor-seventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-seventh {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-seventh:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 53.3333333333%; }
  .ct-major-seventh:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-seventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-octave {
  display: block;
  position: relative;
  width: 100%; }
  .ct-octave:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 50%; }
  .ct-octave:after {
    content: "";
    display: table;
    clear: both; }
  .ct-octave > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-tenth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-tenth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 40%; }
  .ct-major-tenth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-tenth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-eleventh {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-eleventh:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 37.5%; }
  .ct-major-eleventh:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-eleventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-twelfth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-twelfth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 33.3333333333%; }
  .ct-major-twelfth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-twelfth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-double-octave {
  display: block;
  position: relative;
  width: 100%; }
  .ct-double-octave:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 25%; }
  .ct-double-octave:after {
    content: "";
    display: table;
    clear: both; }
  .ct-double-octave > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

/*# sourceMappingURL=chartist.css.map */