.morris-hover{position:relative;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:myriad apple;font-size:14px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:normal;margin:0.25em 0; font-size:10px;}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}
text tspan {
	font-size:9px;
}
.morris-hover.morris-default-style{
    position: absolute;
    padding: 5px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 12px;
    background: rgba(255, 255, 255, 0.8);
}