@charset "UTF-8";
/* CSS Document */
.main-wrpr{
	padding-bottom:25px;
}
.card{
	margin: 15px 0 0 0;
}

.counter-values{
	display:flex;
	flex-flow:wrap;
	margin-left: -15px;
    margin-right: -15px;
}
.counter-values > div{
	flex-shrink: 0;	
}

.counter-values .card{
	  height: 106px;
    text-align: center;
    display: flex;
    direction: ltr;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 0;
}
.counter-values .material-icons{
	   color: #3498db;
    font-size: 38px;
    height: 100%;
    border-radius: 5px 0 0 5px;
    padding-top: 33px;
    margin-right: 0;
    width: 80px;
	}
.counter-values .demo-icon{
	   color: #3498db;
    font-size: 33px;
    height: 100%;
    border-radius: 5px 0 0 5px;
    padding-top: 42px;
    margin-right: 0;
    width: 80px;
}
.counter-values label .material-icons, label .material-icons, label .demo-icon {
    padding-top: 3px;
    width: 20px;
    font-size: 19px;
    color: #707070;
    vertical-align: bottom;
}
label .demo-icon {
    font-size: 17px;
    display: inline-block;
    margin-left: 8px;
	    width: auto;
}
.chart-counter {
    position: relative;
}
.chart-counter canvas {
    margin-top: 8px;
}
#pie-chart, #pie-chart1{
	margin-top:21px;
}
.trans-graph > div + div.col-sm-6 {
    border-left: 1px solid #ddd;
	    padding-bottom: 22px;
}
.section-title {
        font-size: 16px;
    margin-bottom: 18px;
    font-weight: bold;
    direction: ltr;
}
.section-title > i{
	    margin-left: 0;
    vertical-align: middle;
}
.section-title > i.demo-icon:before{
	margin:0 0 0 5px;
}
.chart-counter > span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    font-size: 17px;
	color:#3498DB;
	
}
.value {
       display: block;
    align-self: center;
    padding-left: 15px;
    min-width: 152px;
    text-align: right;
    margin-top: 12px;
}
label{
	font-size:14px;
	font-family:DroidKufiRegular;
	color:#707070;
	display: block;
	position:relative;
}
.value label {
    width: 100%;
}
.value span.count {
    background: none;
    font-size: 36px;
    margin-bottom: 10px;
    clear: both !important;
    width: 100%;
    text-align: left;
	font-weight:500;
	color: #3498db;
}
.nopad .box-content {
    padding: 0;
}
#chart_div > div > div > div > svg {
    float: left;
    max-width: 60%;
	width:100% !important;
}
#chart_div > div > div {
	max-width:100% !important;
}
#chart_div > div > div > div > div {
    position: static !important;
    height: auto !important;
    float: right;
    width: 40% !important;
}
.trans-graph li {
    float: left;
    width: 33.33%;
    font-size: 22px;
    height: 48px;
    padding: 12px 0;
    text-align: center;
    list-style: none;
    position: relative;
    padding-right: 13px;
}
.trans-graph li:before{
    content: "";
    width: 13px;
    height: 13px;
    position: relative;
    right: 0;
    top: 0;
    border-radius: 50px;
    display: inline-block;
}
.trans-graph li.pending-trans:before{
	background:#5B69BC;
}
.trans-graph li.completed-trans:before{
	background:#F9C851;
}
.trans-graph li.online-trans:before{
	background:#F06292;
}
.trans-graph ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid #ddd;
}
.height50{
	height:200px;
}
.height100 {
    height: 475px;
}
#graph > svg{
	max-height:200px;
}
.total-value {
       position: absolute;
    right: 12px;
    top: 9px;
    font-size: 22px;
    color: #3498DB;
    margin-top: 4px;
    text-align: right;
}
.chart > span {
    background: rgba(52,152,219,.6);
    padding: 3px 5px;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
}
.easypie .col-sm-5th{
	text-align:center;
}
.easypie {
    padding-top: 10px;
}
.easypie .easypie-count {
    margin-top: 5px;
    font-size: 18px;
}

.easypie label {
    height: 37px;
}
.trans-graph li label{
	padding-right: 9px;
    display: inline-block;
}

.easypie .demo-icon {
    position: absolute;
    font-size: 26px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 44px;
	color:#3498DB;
}

.user-list {
    border-left: 1px solid #ddd;
    float: right;
    max-height: 200px;
    overflow: auto;
    direction: ltr;
    padding-right: 15px;
}
.user-list li {
    float: left;
    list-style: decimal inside ;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 9px 0;
    direction: rtl;
    height: 67px;
}
.user-list .user-details{
	flex-flow: row wrap;
	 padding-right: 20px;
	 line-height: normal;
}
.avatar44 {
    background: #ddd none repeat scroll 0 0;
    border-radius: 50%;
    height: 44px;
    line-height: 56px;
    overflow: hidden;
    text-align: center;
    width: 44px;
	color: #b3ada7;
	flex-shrink: 0;
}

.transaction-details > div.col-sm-4{
	text-align: right;
    padding-right: 0;
    font-size: 14px;
    color: #b1b1b1;
    width: auto;
    margin-left: auto;
    float: none;
    display: inline-block;
}
.username{
	    font-weight: bold;
    font-size: 14px;
    color: #707070;
    width: 100%;
    text-align: right;
}
.figures.transaction-details {
    margin-top: 0px;
    display:inline-block;
    text-align: right;
}
.transaction-details .doc-tick i{
    color: #2ecc71;
}
.transaction-details .doc-time i{
    color: #f39c12;
}
.transaction-details .amount i{
       color: #3498DB;
    margin-right: 7px;
    height: 26px;
    display: inline-block;
}

.position {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-flow: row wrap;
	padding:15px 0;
}
.avatar.top-pic {
    width: 101px;
    height: 101px;
}
.position label {
    width: 100%;
	margin-bottom: 13px;
}
.position .figures .col-sm-4{
	font-size: 15px;
    width: auto;
    float: none;
    display: inline-block;
    margin: 0 auto;
}
.position .figures{
    margin-top: 10px;
    text-align: center;
    display: inline-block;
}
.position .figures .col-sm-4 i{
	font-size:15px;
}
.my-position{
	    width: 49px;
    height: 49px;
    border: 3px solid #3498db;
    color: #3498db;
    font-size: 27px;
    border-radius: 50%;
    position: absolute;
    background: #fff;
    line-height: 51px;
    font-weight: bold;
    bottom: -48px;
    font-family: myriad apple;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 58px;
}
ul.top-nationals {
    list-style-type: decimal;
    padding: 25px;
    font-size: 15px;
    height: 475px;
    background: #f1f1f1;
	    margin-bottom: 0;
    margin-right: -15px;
}
.top-nationals li {
        padding: 10px 0;
    padding-right: 10px;
    border-bottom: 1px solid #ddd;
}
.top-nationals h3 {
        margin: 0;
    font-size: 15px;
    float: right;
    padding: 0 10px;
    line-height: 26px;
    width: 120px;
	}
.top-nationals .flag-icon {
    float: right;
    line-height: 23px;
    width: 16px;
}

.top-nationals span {
    font-size: 14px;
    background: #ddd;
    padding: 2px 8px;
    border-radius: 4px;
}
.top-customer{
	text-align:center;
}
.top-customer > .col-sm-4{
	cursor:pointer;
	padding: 20px 0 0 0;
}
.top-customer > .col-sm-4 + .col-sm-4{
	border-left:1px solid #ddd;
}
.amount-details {
    padding: 37px 25px;
}
.my-feedback img {
    width: 35px;
	margin-bottom:5px
}
.avatar56 {
    width: 56px;
    height: 56px;
    overflow: hidden;
    border-radius: 8px;
    margin: 0 auto;
    border: 2px solid #ddd;
}
.top-customer .username{
	text-align:center;
	padding: 10px 0 1px 0;
}
.services-used {
    float: left;
    width: 100%;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding: 10px 0;
}
.services-used > .col-sm-6 + .col-sm-6{
	border-left: 1px solid #ddd;
}
.services-used i.demo-icon {
    color: #3498DB;
    font-size: 20px;
    width: 100%;
    float: left;
	margin-bottom:10px;
	}
.services-used .amount{
	color: #707070;
}
.legend {
    float: left;
    width: 100%;
    padding: 15px 0 26px;
    position: relative;
    z-index: 2;
}
.total-amount {
    color: #3498DB;
    font-size: 32px;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
	direction:rtl;
}
.total-amt {
    text-align: center;
    border-radius: 22px;
    padding: 14px 15px 10px;
    background: #f5f5f5;
    display: inline-block;
	float: left;
}
.cash .total-amount {
    color: #2ECC71;
}
.cash small, .total-amount small {
    font-weight: 300;
    font-size: 15px;
}
.cash, .credit {
    display: inline-block;
    margin-left: 45px;
    float: right;
    margin-top: 18px;
}
.total-amt{
	text-align:left;
}
.total-amount > i {
    margin-right: 5px;
}
.total-amount > i.material-icons {
    font-size: 28px;
    line-height: normal;
    position: relative;
    top: 6px;
}
.credit .total-amount{
	color: #F39C12;
    position: relative;
}
.customer-details .applicant-details {
    padding: 20px;
}
.customer-total {
        width: 100%;
    background: #ebebeb;
    text-align: center;
    padding: 10px 0;
    display: inline-block;
}
.customer-total .value {
    font-size: 32px;
    font-weight: bold;
    direction: ltr;
	color:#707070;
}
.value sub{
	bottom:0;
}
.icon-doc-tick{
	color:#2ecc71;
}
/* Date selected */
.day-select {
    margin-right: auto;
    height: 68%;
    background: #fff;
	border:1px solid #3498DB;
	    margin-left: 20px;
		border-radius:5px;
		margin:0 auto;
}
.day-select > ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.day-select li {
    float: left;
    list-style: none;
    line-height: normal;
    display: inline-block;
}
.day-select li:first-child a{
	 border-radius: 5px 0 0 5px;
}
.day-select li:last-child a{
	 border-radius: 0 5px 5px 0;
}
.day-select li + li{
	border-left: 1px solid #3498DB;
}
.day-select li > a {
	display: block;
	 padding: 9px 14px;
	 text-decoration:none !important;
	 outline:none !important;
	 transition:all 0.3s linear;
}
.day-select li.active > a{
	background:#3498DB;
	color:#fff;
}
.day-select li > a.calender {
    padding: 7px 14px;
	float:left;
	position:relative;
width: 150px;
}
.day-select input.datepicker{
	border: none;
    background: none;
    width: 100%;
    float: left;
    height: 100%;
    padding-top: 3px;
    padding-right: 33px;
	position: relative;
    z-index: 2;
}
.day-select .active input.datepicker{
	color: #fff;
}
.calender i {
    position: absolute;
    right: 5px;
    top: 6px;
}
.peak-time .ct-bar {
    stroke-width: 47px;
}
@media (max-width: 1366px){
	
	.easypie .demo-icon {
    position: absolute;
    font-size: 19px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 44px;
    color: #3498DB;
}
.chart > span{
	bottom:14px;
}
.figures.transaction-details{
	display:flex;
}
.transaction-details > div.col-sm-4 {
    text-align: center;
}
.services-used > .col-sm-6{
	width:100%;
	padding:10px 0;
}
.services-used > .col-sm-6 + .col-sm-6{
	border-left: none;
	border-top: 1px solid #ddd;
	
}
}