@charset "UTF-8";
/* CSS Document */
.login-header{
	background:#3498db;
	height:432px;
	width:100%;
	float:left;
	text-align:center;
}
.big-logo > span > img{
	max-width:208px;
	display:inline-block;
	align-self:center;
}
.big-logo{
	width:342px;
	height:342px;
	border:5px solid #fff;
	border-radius:50%;
	display:flex;
	align-content:center;
	margin:15px auto;
	justify-content:center;
	border-top-color: transparent;
    border-bottom-color: transparent;
}
.big-logo > span{
	width:275px;
	height:275px;
	display:flex;
	border:4px solid #fff;
	border-radius:50%;
	align-self:center;
	justify-content:center;
}
.demo-icon{
	font-style:normal;
	font-family: fontello;
	-webkit-font-smoothing: antialiased;
}
.govt-logo {
    font-size: 52px;
    line-height: normal;
    margin-top: 20px;
	text-align:left;
	color:#fff;
}
.dp-logo {
    font-size: 52px;
    line-height: normal;
    margin-top: 20px;
		text-align:right;
	color:#fff;
}
.login-box{
	background: #fff;
    width: 368px;
    margin: 0 auto;
    display: flex;
    border-radius: 22.5px;
    padding: 25px 40px;
    text-align: center;
    position: relative;
    flex-flow: column;
    top: -66px;
	box-shadow:1px 1px 5px rgba(0,0,0,.22);
}
.user-avatar{
	background:#e1e1e1;
	margin:0 auto 30px;
	display:inline-block;
	border-radius:22.5px;
	width:90px;
	height:90px;
	text-align:center;
	color:#bdbdbd;
}
.user-avatar > i {
    font-size: 90px;
    line-height: 100%;
}
.login-box input.form-control {
    width: 289px;
    height: 42px;
    border: 4px solid #f7f7f7;
	font-family:DroidKufiRegular;
	font-size:15px;
	border-radius: 10px;
	box-shadow: none;
	padding-right:35px;
	
}
.login-box .form-group.username::before{
	content: "\E7ff";
    position: absolute;
    right: 10px;
    top: 10px;
    color: #c0c0c0;
    font-family: "Material Icons";
    font-size: 22px;
}
.login-box .form-group.password::before{
	content:"\E899";
	position: absolute;
    right: 10px;
    top: 10px;
    color: #c0c0c0;
    font-family: "Material Icons";
    font-size: 22px;
}
.login-box .form-group{
	margin-left:0;
	margin-right:0;
	margin-bottom:11px;
	position:relative;
}
.form-control::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #c0c0c0;
}
.form-control::-webkit-input-placeholder {
  color: #c0c0c0;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.ar-kufi{
	font-family: droidkufiregular;
}
.login-box .ar-kufi {
    font-size: 12px;
    color: #c4c4c4;
    float: left;
    
}
.login-box .btn-primary {
    float: right;
    font-size: 18px;
    font-family: droidkufiregular;
    width: 100%;
    height: 41px;
}
.login-box .form-buttons{
	margin-top:20px;
	margin-bottom:0;
}
.form-buttons .col-sm-6{
	float:right;
}